.linearGreen {
	background: linear-gradient(to right, #00ff85, #008043);
	transition: all 1s ease-in-out;
	background-position: top center;
}

#headerLogo {
	width: 50px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#headerLogo {
		width: 60px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#headerLogo {
	width: 70px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#headerLogo {
	width: 80px;
}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#headerLogo {
	width: 90px;
}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
	#headerLogo {
	width: 100px;
}
}



@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100vw 0px;
  }
}

.linearGreenMove {  
  background: linear-gradient(135deg, #008043 30%, #00ff85 37%, #008043 40%);
	background-position: top center;
  animation: move-it 5s linear infinite;
}
.linearGreenMove {  
  background: linear-gradient(90deg, #008043 30%, #00ff85 50%, #008043 70%);
	background-position: top center;
  animation: move-it 5s linear infinite;
}
.linearGreenMove {  
  background: linear-gradient(135deg, #008043 20%, #00ff85 50%, #008043 70%);
	background-position: top center;
  animation: move-it 5s linear infinite;
}

body {
	height: 300vh;
}